## 2b. Training Models (Neural Network)

In [1]:
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("../preprocessed/clean_survey.csv", index_col=False)
df

,q_000,q_001,q_003,q_004,q_005,q_006,q_007,q_008,q_009,q_011,...,q_130_NSW,q_130_NT,q_130_QLD,q_130_SA,q_130_TAS,q_130_VIC,q_130_WA,invol_score,q_031_adjusted,involvement_level
0,1.00,2,1,1,1,1,1,1,1,5,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,Low
1,0.89,2,0,0,0,1,0,1,1,5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,Low
2,0.86,1,1,1,0,0,0,1,0,2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,1,Medium
3,0.85,2,0,1,0,1,0,0,0,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3,1,Medium
4,0.71,1,0,1,0,1,0,1,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,0.62,1,1,0,1,0,0,0,0,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1,Low
871,1.00,0,1,1,1,1,1,1,1,5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,Low
872,1.00,2,1,1,1,1,1,1,1,5,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,Low
873,1.00,3,1,1,1,1,1,1,1,5,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1,Low
874,0.98,1,1,1,1,1,1,1,1,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,1,Low